form#hit {
  float: left;
  margin-right: 15px;
}

form#stay {
  float: left;
}

img.card_image {
  margin: 5px 5px 5px 5px;
  width: auto;
  height: 160px;
}

body {
  background-image: url('http://godaddycasino.com/images/green-pattern-wallpapers-backgrounds-for-powerpoint%5B1%5D%20-%20Copy.jpg');
  background-repeat: repeat-y;
  color: white;
}

.well {
  background-color: #588A26;
}